<p style="color: green"><%= notice %></p>

<%= render @expense %>

<div>
  <%= link_to "Edit this expense", edit_expense_path(@expense) %><br><br>
  <%= link_to "Back to expenses", expenses_path %><br><br>
  <%= link_to 'Destroy', @expense, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
